<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT messageBoard ANY>
<!ATTLIST messageBoard id ID #REQUIRED>
<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT projectsItem ANY>
<!ATTLIST projectsItem id ID #REQUIRED>
<!ELEMENT projectsMain ANY>
<!ATTLIST projectsMain id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT articlesItem ANY>
<!ATTLIST articlesItem id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
]>
<root id="-1">
  <home id="1088" key="a0cf8063-2b46-463f-ba41-9f4e90de1687" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-09-19T14:50:10" updateDate="2016-10-11T16:32:02" nodeName="Home" urlName="home" path="-1,1088" isDoc="" nodeType="1057" creatorName="Steffen Pedersen" writerName="Steffen Pedersen" writerID="0" template="1056" nodeTypeAlias="home">
    <siteTitle><![CDATA[Weblog]]></siteTitle>
    <mainContent><![CDATA[<p><span>This is a blog with notes from the web development education.</span></p>]]></mainContent>
    <footerText><![CDATA[Copyright]]></footerText>
    <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></grid>
    <textPage id="1093" key="e9b0940c-97c6-4432-8193-ebdb2d041fe7" parentID="1088" level="2" creatorID="0" sortOrder="0" createDate="2016-09-19T15:17:51" updateDate="2016-09-26T11:38:44" nodeName="About" urlName="about" path="-1,1088,1093" isDoc="" nodeType="1059" creatorName="Steffen Pedersen" writerName="Steffen Pedersen" writerID="0" template="1058" nodeTypeAlias="textPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <mainContent><![CDATA[<p>...</p>]]></mainContent>
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "About",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "ab877db7-5fec-267e-ba7c-65c2a5361a76"
        },
        {
          "name": "Image",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1092,
                    "image": "/media/1002/jul-med-kandis.png"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "9130ca92-4b14-aa9c-bf39-e4c10c7e5a8a"
        },
        {
          "name": "Main Content",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><span>Hvad der for Kandis for alvor begyndte med ”En lille ring af guld”, er blevet til meget mere gennem årene. Fra adskillige hit på diverse udgaver af Dansktoppen og bl.a. deltagelse i det danske Melodi Grand Prix er et orkestrets seneste udspil, Kandis 13, et musikalsk spejlbillede af livet nu til dags med valg af tekster og instrumenter, der ikke var tænkeligt for 20 år siden.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "def831c1-6364-be51-517c-a3768a445a63"
        },
        {
          "name": "Additional",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><span>Med et salg på over 1,5 millioner plader og en fanklub på godt 3.000 medlemmer har Kandis skabt sig en unik platform uden sidestykke på den danske musikscene.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Kandis er Danmarks populæreste danseorkester.",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><span>Med et salg på over 1,5 millioner plader og en fanklub på godt 3.000 medlemmer har Kandis skabt sig en unik platform uden sidestykke på den danske musikscene.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "35b463f6-a07c-3458-dc7e-3ea5676d324d"
        }
      ]
    }
  ]
}]]></grid>
    </textPage>
    <projectsMain id="1094" key="fcb29931-4182-40df-b1ae-82fd4bffad43" parentID="1088" level="2" creatorID="0" sortOrder="1" createDate="2016-09-20T09:43:53" updateDate="2016-09-20T09:43:53" nodeName="Projects" urlName="projects" path="-1,1088,1094" isDoc="" nodeType="1071" creatorName="Steffen Pedersen" writerName="Steffen Pedersen" writerID="0" template="1070" nodeTypeAlias="projectsMain">
      <projectsItem id="1095" key="fc7bed90-341c-4b77-9117-6733f8b6ccf2" parentID="1094" level="3" creatorID="0" sortOrder="0" createDate="2016-09-20T09:45:35" updateDate="2016-09-20T09:55:21" nodeName="Sol" urlName="sol" path="-1,1088,1094,1095" isDoc="" nodeType="1075" creatorName="Steffen Pedersen" writerName="Steffen Pedersen" writerID="0" template="1074" nodeTypeAlias="projectsItem">
        <status><![CDATA[Completed]]></status>
        <projectContent><![CDATA[<p><span>Det handler om sol, sommer, kærlighed og evig troskab. Det handler også om en kultur, som hver uge fylder idrætshaller med danseglade mennesker og iørefaldende toner – akkompagneret af fadøl og fællessang.</span></p>]]></projectContent>
        <projectTitle><![CDATA[Sol]]></projectTitle>
        <image><![CDATA[1092]]></image>
      </projectsItem>
      <projectsItem id="1096" key="6aa132ac-589f-41f3-af5d-d997eddc19ff" parentID="1094" level="3" creatorID="0" sortOrder="1" createDate="2016-09-20T09:46:11" updateDate="2016-09-20T09:47:46" nodeName="Sommer" urlName="sommer" path="-1,1088,1094,1096" isDoc="" nodeType="1075" creatorName="Steffen Pedersen" writerName="Steffen Pedersen" writerID="0" template="1074" nodeTypeAlias="projectsItem">
        <status><![CDATA[Completed]]></status>
        <projectContent><![CDATA[<p><span>Det handler om sol, sommer, kærlighed og evig troskab. Det handler også om en kultur, som hver uge fylder idrætshaller med danseglade mennesker og iørefaldende toner – akkompagneret af fadøl og fællessang.</span></p>]]></projectContent>
        <projectTitle><![CDATA[Sommer]]></projectTitle>
        <image><![CDATA[1092]]></image>
      </projectsItem>
      <projectsItem id="1097" key="4ab3f1d4-5163-4c6f-b7a5-16bd5c3c68ff" parentID="1094" level="3" creatorID="0" sortOrder="2" createDate="2016-09-20T09:46:40" updateDate="2016-09-20T09:47:44" nodeName="Kultur" urlName="kultur" path="-1,1088,1094,1097" isDoc="" nodeType="1075" creatorName="Steffen Pedersen" writerName="Steffen Pedersen" writerID="0" template="1074" nodeTypeAlias="projectsItem">
        <status><![CDATA[Completed]]></status>
        <projectContent><![CDATA[<p><span>Det handler om sol, sommer, kærlighed og evig troskab. Det handler også om en kultur, som hver uge fylder idrætshaller med danseglade mennesker og iørefaldende toner – akkompagneret af fadøl og fællessang.</span></p>]]></projectContent>
        <projectTitle><![CDATA[Kultur]]></projectTitle>
        <image><![CDATA[1092]]></image>
      </projectsItem>
      <projectsItem id="1098" key="de7204f7-c437-45b8-85fb-33e29acbd35b" parentID="1094" level="3" creatorID="0" sortOrder="3" createDate="2016-09-20T09:47:02" updateDate="2016-09-20T09:47:41" nodeName="Bandet" urlName="bandet" path="-1,1088,1094,1098" isDoc="" nodeType="1075" creatorName="Steffen Pedersen" writerName="Steffen Pedersen" writerID="0" template="1074" nodeTypeAlias="projectsItem">
        <status><![CDATA[Underdevelopment]]></status>
        <projectContent><![CDATA[<p><span>Det handler om sol, sommer, kærlighed og evig troskab. Det handler også om en kultur, som hver uge fylder idrætshaller med danseglade mennesker og iørefaldende toner – akkompagneret af fadøl og fællessang.</span></p>]]></projectContent>
        <projectTitle><![CDATA[Bandet]]></projectTitle>
        <image><![CDATA[1092]]></image>
      </projectsItem>
    </projectsMain>
    <contactPage id="1101" key="350b4149-67e5-424e-815f-96f21cd58018" parentID="1088" level="2" creatorID="0" sortOrder="2" createDate="2016-09-20T10:11:36" updateDate="2016-09-20T10:11:36" nodeName="Contact Us" urlName="contact-us" path="-1,1088,1101" isDoc="" nodeType="1100" creatorName="Steffen Pedersen" writerName="Steffen Pedersen" writerID="0" template="1099" nodeTypeAlias="contactPage" />
    <textPage id="1112" key="239e0c07-8435-4c5f-af36-a2bd840bc106" parentID="1088" level="2" creatorID="0" sortOrder="3" createDate="2016-09-26T11:27:17" updateDate="2016-09-26T11:27:17" nodeName="Login" urlName="login" path="-1,1088,1112" isDoc="" nodeType="1059" creatorName="Steffen Pedersen" writerName="Steffen Pedersen" writerID="0" template="1111" nodeTypeAlias="textPage">
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></grid>
    </textPage>
    <textPage id="1113" key="05fc7236-2ceb-4a26-8ef4-a9129328fdad" parentID="1088" level="2" creatorID="0" sortOrder="4" createDate="2016-09-26T11:32:20" updateDate="2016-09-26T11:45:56" nodeName="Forbidden Access" urlName="forbidden-access" path="-1,1088,1113" isDoc="" nodeType="1059" creatorName="Steffen Pedersen" writerName="Steffen Pedersen" writerID="0" template="1058" nodeTypeAlias="textPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></grid>
    </textPage>
    <members id="1117" key="d65cac58-8c90-45f5-a8fb-594c0300dd1d" parentID="1088" level="2" creatorID="0" sortOrder="5" createDate="2016-10-03T17:06:13" updateDate="2016-10-03T17:06:13" nodeName="Members" urlName="members" path="-1,1088,1117" isDoc="" nodeType="1116" creatorName="Steffen Pedersen" writerName="Steffen Pedersen" writerID="0" template="1115" nodeTypeAlias="members" />
    <messageBoard id="1120" key="d8416cdd-6b40-43b0-8ebe-1432fabcce18" parentID="1088" level="2" creatorID="0" sortOrder="6" createDate="2016-10-12T14:51:37" updateDate="2016-10-12T14:51:37" nodeName="Message Board" urlName="message-board" path="-1,1088,1120" isDoc="" nodeType="1119" creatorName="Steffen Pedersen" writerName="Steffen Pedersen" writerID="0" template="1118" nodeTypeAlias="messageBoard">
      <messageBoard id="1123" key="a4a689f8-de34-458a-9cc1-9c6a6ad6339a" parentID="1120" level="3" creatorID="0" sortOrder="1" createDate="2016-10-12T15:20:54" updateDate="2016-10-12T15:20:54" nodeName="Steffen (1)" urlName="steffen-1" path="-1,1088,1120,1123" isDoc="" nodeType="1119" creatorName="Steffen Pedersen" writerName="Steffen Pedersen" writerID="0" template="1118" nodeTypeAlias="messageBoard">
        <msgbCreateDate>2016-10-12T15:20:00</msgbCreateDate>
        <msgbName><![CDATA[Steffen]]></msgbName>
        <msgbMessage><![CDATA[Heeej :D]]></msgbMessage>
      </messageBoard>
      <messageBoard id="1124" key="886046b4-01d1-440a-a2ab-fdfe3c874c0c" parentID="1120" level="3" creatorID="0" sortOrder="2" createDate="2016-10-12T15:23:59" updateDate="2016-10-12T15:23:59" nodeName="Steffen" urlName="steffen" path="-1,1088,1120,1124" isDoc="" nodeType="1119" creatorName="Steffen Pedersen" writerName="Steffen Pedersen" writerID="0" template="1118" nodeTypeAlias="messageBoard">
        <msgbCreateDate>2016-10-12T15:23:00</msgbCreateDate>
        <msgbName><![CDATA[Steffen]]></msgbName>
        <msgbMessage><![CDATA[Hvad så?]]></msgbMessage>
      </messageBoard>
    </messageBoard>
  </home>
</root>