@inherits Umbraco.Web.Macros.PartialViewMacroPage
	
	
@{ var selection = CurrentPage.Children.Where("Visible").OrderBy("CreateDate desc"); }
@* OrderBy() takes the property to sort by and optionally order desc/asc *@

@foreach (var item in selection)
{
	<div class="list-group">
	  <a href="@item.Url" class="list-group-item">
		<h4 class="list-group-item-heading">@item.Name</h4>
		<p class="list-group-item-text">@Umbraco.Truncate(@item.articleContent,100)</p>
	  </a>
	</div>
}
