@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArticlesItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div id="main-container">
    <div id="main" class="wrapper clearfix">
        <section>
			<div class="message-board">
				<h1>@Umbraco.Field("articleTitle")</h1>
			</div>
			<div class="article-content">
				@Umbraco.Field("articleContent")
			</div>
		</section>  
    </div> <!-- #main -->
</div> <!-- #main-container -->