@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.MessageBoard>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div class="message-board">
	<h1>Message board</h1>

	@Html.Action("CreateMessage", "MessageBoardSurface")

	@Html.Raw(TempData["TempMsgBoard"])
	<section>
		@Umbraco.RenderMacro("listMessages")
	</section>
</div>
